In [117]:
'hello' #declaring a string

'hello'

In [2]:
"world"

'world'

In [3]:
'This is also a string'

'This is also a string'

In [5]:
"I'm going on a run"

"I'm going on a run"

In [6]:
#Print function
print("Hello")

Hello

In [8]:
#Allow to print multiple lines
print("Hello World one")
print("Hello World two")

Hello World one
Hello World two

In [118]:
#/n = next line /t = tab
print('hello \tworld')

hello 	world

In [13]:
#Calcuates the amount of letters in the string
len('hello')

5

In [14]:
len('I am')

4

In [120]:
#My string is a variable when = is used. Now when we
#refer to "mystring" it will output 'Hello World'
#AKA assign mystring as a string
mystring = "Hello World"

In [16]:
mystring

'Hello World'

In [121]:
#Known as Indexing!
#show first element (in this case a letter). This is
#denoted by the square brackets []
#Notice the element count/array starts from 0
mystring[0]

'H'

In [18]:
mystring[8]

'r'

In [20]:
mystring[10]

'd'

In [21]:
mystring[9]

'l'

In [122]:
#Known as Reverse Indexing
#Shows last element
#Useful if you need to figure out what the last element 
#is
mystring[-1]

'd'

In [25]:
mystring[-10]

'e'

In [26]:
mystring[-11]

'H'

In [124]:
mystring = 'abcdefghijk'

In [29]:
mystring

'abcdefghijk'

In [125]:
#Known as Slicing. Grabs everything up to a designated
#point. This for example grabs everything past the 
#second term to the end of the string.
mystring[2:]

'cdefghijk'

In [32]:
mystring[:3]

'abc'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [126]:
#[:] Grabs everything from the variable string
mystring[:]

'abcdefghijk'

In [33]:
mystring[4:]

'efghijk'

In [41]:
mystring[:3]

'abc'

In [42]:
#Grabs inbetween elements. In this case, we grab at 3
#inc 3 which would be d (a=0,b=1,c=2,d=3) and end in 5
#excluding 6 (e=4,f=5,g=6)
mystring[3:6]

'def'

In [43]:
mystring

'abcdefghijk'

In [44]:
mystring[1:3]

'bc'

In [55]:
mystring[4:9]

'efghi'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [128]:
#Known as Step
#Step allows you to skip between letters in a string
mystring[::2]

'acegik'

In [60]:
#use index and slicing with step. In this example:
#2(c=2):7(g=6, we exclude h=7)::2(c=2 --> e=4 --> g=6)
mystring[2:7:2]

'ceg'

In [61]:
mystring[::-1]

'kjihgfedcba'

In [129]:
s = "Hello World"

In [ ]:
#Known as letter assignment
#Can't be done like this in python but in other lang
#This is because of the 'str' object not supporting this
#Instead we must concatenate strings
s[0] = 'x'

In [66]:
Test = 'ABC DEF GHI'

In [67]:
Test

'ABC DEF GHI'

In [139]:
#Known as Concatenate Strings
#Add a string with another string, and become one 
#string. Former of the equals(=) becomes the
#concatenated string
mystring + Test

'abcdefghijkABC DEF GHI'

In [135]:
mystring

'abcdefghijkABC DEF GHI'

In [71]:
mystring

'abcdefghijkABC DEF GHI'

In [73]:
len("MyString")

8

In [75]:
len('abcdefghijkABC DEF GHI')

22

In [77]:
mystring[18]

' '

In [78]:
name = "Alan"

In [80]:
#name[0] = P. Again, an example of letter assignment
#not working

In [82]:
#Make use of indexing to create a unique string var
last_letters = name[1:]

In [83]:
last_letters

'lan'

In [84]:
name

'Alan'

In [85]:
#We can add a user input string to a var string
"p" + last_letters

'plan'

In [86]:
x = 'hello world'

In [96]:
#Add x(hello world) to user input string
#By running this multiple times, we get output in 
#Out[97] when running x again
x = x + " don't be shy"

In [97]:
x

"hello world don't be shy don't be shy don't be shy don't be shy"

In [98]:
letter = "z"

In [99]:
#Can use multiplication symbol to create reptition
letter * 10

'zzzzzzzzzz'

In [100]:
2 + 3

5

In [101]:
#Careful, as we can add up strings that look like
#intergers
'2' + '3'

'23'

In [105]:
x

'hello world'

Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [106]:
# Upper Case a string
x.upper()

'HELLO WORLD'

In [107]:
# Lower Case a string
x.lower()

'hello world'

In [108]:
#Split a string by blank space (this is the default)
x.split()

['hello', 'world']

In [114]:
x = "hi this is a string"

In [116]:
# Split by a specific element
#(doesn't include the element that was split on)
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

Print Formatting

We can use the .format() method to add formatted objects to printed string statements.
The syntax is:

'String here {} then also {} '.format('something1',something2')

In [140]:
#Known as print formating
#Can insert another string to a string
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [142]:
#.format comes into its own. Use numbers to realign
#the order of where the strings go in the print statement
print ('the {2} {1} {0}'.format('fox','brown','quick'))

the quick brown fox

In [143]:
#Can also repeat a string using the same number
print ('the {0} {0} {0}'.format('fox','brown','quick'))

the fox fox fox

In [146]:
#Best method. Variable assignment, so you don't have
#to count and figure out the string order.
print ('the {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

the quick brown fox

float formatting follows "{value:width.precision f}"

In [147]:
result = 100/777

In [148]:
result

0.1287001287001287

In [153]:
#Insert variable "result" with .format() into print statement r equalling result
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [155]:
#Made use of the f function."{value:width.precision f}"
#In this example, r is result float. :1 is white space (default)
#.9f is round to element 9.
print("The result was {r:1.9f}".format(r=result))

The result was 0.128700129

In [156]:
name = "Jose"

In [159]:
#Known as f strings. Alternative to .format() method
#Add variable name directly in curly brackets
print(f'hello, his name is {name}')

hello, his name is Jose

In [160]:
name = "Sam"
age = 3

In [162]:
#Another example of f string, this time with two vars.
print(f'{name} is {age} years old')

Sam is 3 years old

In [1]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [3]:
print("I'm going to inject %s here and %s %s text" %('something','some','more'))

I'm going to inject something here and some more text

In [4]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [5]:
print('I once caught a fish %s.'%'this \tbig')
print('I once caught a fish %r.'%'this \tbig')

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

In [6]:
print('I wrote %s programs today.'%3.75)
print('I wrote %d programs today.'%3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

In [7]:
print('Floating point numbers: %5.2f' %(13.144))

Floating point numbers: 13.14

In [8]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [14]:
r = 1000000.144

In [10]:
print('Floating point numbers: %1.0f' %(r))

Floating point numbers: 13

In [12]:
print('Floating point numbers: %1.5f' %(r))

Floating point numbers: 13.14400

In [13]:
print('Floating point numbers: %10.2f' %(r))

Floating point numbers:      13.14

In [25]:
print('Floating point numbers: %14.5f' %(r))

Floating point numbers:  1000000.14400

In [26]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'

In [33]:
print('First: {s}, Second: {e:1.2f}, Third: {r}' .format(s=s,e=e,r=r))

First: Hi, Second: 3.14, Third: Bye

In [29]:
s = 'Hi'
e = 3.14
r = 'Bye'

In [41]:
print('The {2} {3} {1} {0}.'.format('eagle','is','watching','you'))

The watching you is eagle.

In [42]:
print('The {a} {b} {c} {d}.'.format(a='eagle',b='is',c='watching',d='you'))

The eagle is watching you.

In [43]:
#.format is superior. Avoids duplication of strings
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

In [44]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

In [53]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:4} | {1:4}'.format('Apples', 3.))
print('{0:4} | {1:4}'.format('Oranges', 10))

Fruit    | Quantity
Apples |  3.0
Oranges |   10

In [109]:
print('{0:<6} | {1:^1} | {2:>1}'.format('Left','Centre','Right'))
print('{0:<1} | {1:^1} | {2:>1}'.format('Peanut','Butter','Jelly'))

Left   | Centre | Right
Peanut | Butter | Jelly

In [127]:
print('{0:=<8} | {1:*^10} | {2:.>8}'.format('Left','Centre','Right'))
print('{0:=<8} | {1:*^10} | {2:.>8}'.format('Peanut','Butter','Jelly'))

Left==== | **Centre** | ...Right
Peanut== | **Butter** | ...Jelly

In [134]:
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my eight-character, two-decimal number:{r:8.2f}'.format(r=Number))

This is my ten-character, two-decimal number:     13.58
This is my eight-character, two-decimal number:   13.58

In [132]:
Number = 13.579

In [171]:
Last_Name = 'Bond'
Name = "James"

In [157]:
print(f"He said his name was {Last_Name}, {Name} {Last_Name} .")

He said his name was Bond, James Bond .

In [172]:
print(f"He said his name was {Last_Name!r}, {Name} {Last_Name}.")

He said his name was 'Bond', James Bond.

In [176]:
num = 23.45678
print("My 10 character, four decimal number is:{r:10.4f}".format(r=num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568